.custom-sort-draggable {
	cursor: grab;
}

.custom-sort-draggable:active {
	cursor: grabbing;
}

.custom-sort-dragging {
	opacity: 0.4;
}

.custom-sort-drop-indicator {
	height: 2px;
	background-color: var(--interactive-accent);
	border-radius: 1px;
	margin: 0 var(--size-4-2);
}
